@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes navbar-mob{
    from {padding: 0 100px;}    
    to {padding: 10px 25px;}
}

@keyframes navbar-desk{
    from {padding: 0 200px;}    
    to {padding: 10px 100px;}
}