//Color schemes
//1st scheme
$white: #FFF;
$platinum: #e8e8e8;
$gray: #bababa;
//2nd scheme
$dark-salmon: #ee9480;
$melon: #f4baae;
$pale-pink: #fadfda;
//3rd scheme
$ball-blue:#2ab7ca;
$middle-blue: #77d1dd;
$blue-lagoon: #b1e4eb;
//4th scheme
$onyx: #333745;
$spanish-gray: #8f9199;
$lavender-gray: #c7c8cc;
//5th scheme
$raisin-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;

//Typefaces
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;
//Font-weight
$regular-400: 400;
$bold-700: 700;

//Font-sizes
$xxxxx-large: 3.125em;
$xxxx-large: 2.8125em;
$xxx-large: 2.5em;
$xx-large: 2.1875em;
$x-large: 1.875em;
$large: 1.25em;
$medium: 1em;
$small: 0.875em;
$x-small: 0.75em;