button{
    border: 0;
    background-color: $ball-blue;
    color: $white;
    font-weight: $bold-700;
    -webkit-transition: all .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover{
        background-color: $blue-lagoon;
        -webkit-box-shadow: 0 0.125rem 0.3125rem $blue-lagoon;
                box-shadow: 0 0.125rem 0.3125rem $blue-lagoon;
    }
    &:focus{
       background-color: $lavender-gray;
       -webkit-box-shadow: 0 0.125rem 0.3125rem $nickel inset;
               box-shadow: 0 0.125rem 0.3125rem $nickel inset;
    }
}

nav div form button{
    padding: 0.3125rem;
}

.card__button{
    width: 100%;
    height: 2.1875rem;
}