.precios__card {
  padding: 1.5625rem;

  .card {
    padding-bottom: 0.75rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover{
      -webkit-box-shadow: 0 0.625rem 0.625rem $raisin-black ;
              box-shadow: 0 0.625rem 0.625rem $raisin-black ;

    }
    hr {
      border-bottom: 0.0625rem solid $nickel;
    }
    &__title, &__price{
      padding: 0.3125rem 0;
    }
    &__title{
      font-size: $large;
    }
    &__list {
      padding: 0 10%;
      &__item {
        font-size: $medium;
        padding: 0.3125rem 0;
      }
    }
  }
}
@media (min-width: 576px){
  .card{
    min-width: 17.5rem;
  }
}

@media (max-width: 767px){
  .card{
    &__list{
      min-height: 11.25rem;      
    }
  }
}


@media (min-width: 768px){
  .card{
    &__list{
      min-height: 15.125rem;      
    }
  }
}


@media (min-width: 992px) {
  .precios__card {
    .card {
      min-width: 18.125rem;
      width: 75%;
      margin: 0 auto;
      &__title{
        font-size: $x-large;
      }
      &__price{
        font-size: $x-large;
      }
      &__list {
        height: 15.625rem;
      }
    }
  }
}