//This file you will create your base style inside of the project
body{
    font-family: $raleway;
}

img{
    max-width: 100%;
}

.wrap{
    padding: 0 1.5625rem;    
}

@media (min-width: 576px){
    .wrap{
        padding: 0 6.25rem;
    }
}

a{
    color: $raisin-black;
    transition: all .5s;
    &:hover{
        color: $ball-blue;
    }
}